doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title NODE KINDERGARTEN
    link(rel='stylesheet' href='/css/style.css')
  body
    header
      div.navbar
        h1.logo NODE KINDERGARTEN
        nav
          a(href='/login') Login
          a(href='/signup') Sign Up

    main.hero
      div.hero-text
        h2 Nurturing Little Minds with Big Dreams
        p Join a fun, safe, and enriching learning environment for your child.
        div.buttons
          a.cta-button(href='/login') Log In
          a.cta-button.secondary(href='/signup') Sign Up

      div.hero-img
        img(src='/img/bac.avif' alt='Happy Kids Illustration')

    footer
      p &copy; 2025 Node Kindergarten. All rights reserved.
