doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Login Form
  link(rel='stylesheet' href='/css/login.css')
  link(rel='stylesheet' href='/css/shared.css')
.login-container
  h1 Login
  p Please enter your credentials to log in.
  if error
    p.error-message(style='color: red;') #{error}
  form(action='/login' method='post')
    label(for='username') Email:
    input#email(type='text' name='email' placeholder='Enter your email')
    label(for='password') Password:
    input#password(type='password' name='password' placeholder='Enter your password')
    button(type='submit') Log In
  p.signup-link
    | Don't have an account? 
    a(href='/signup') Sign up here
    | .
